torch==1.7.1
numpy==1.24.1
torchvision==0.8.2
pandas==1.5.2
matplotlib==3.6.3
seaborn==0.12.2
h5py==3.7.0
mpi4py==3.1.4
tables==3.8.0
tensorboardX==2.5.1
scipy==1.10.0
pickle5

jupytext==1.14.4
pyinstrument==4.4.0
psutil==5.9.4
deepdiff==6.2.3

bokeh==3.0.3
ruamel.yaml==0.17.21
PyYAML==6.0